*{
    margin: 0px;
    padding: 0px;
}
/*global start*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* global end* /
/*header.css start*/
.header{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color:#333333;
    font-size: 12px;
}
.clearfix{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 12px;
}
.container .test1{
    float: left;
    margin: 13px;
}
.container .test1 a{
    text-decoration: none;
    color: #b0b0b0;
}
.test1 a:hover{
    color: white;
}
.sep{
    color: #424242;
    margin: 0.3em;
}
.container .test2{
    float: left;
   margin: 13px;
    padding-left: 520px;
}
.container .test2 a{
    text-decoration: none;
    color: #b0b0b0;
}
.test2 a:hover{
    color: white;
}
.container .test3{
    float: left;
    margin: 13px;
}
.container .test3 a{
    text-decoration: none;
    color: #b0b0b0;
}
.test3 a:hover{
    color: #ff4600;
}
.test3 .mini-car{
    background-color: #424242;
    display: block;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-left: 30px;

}
/*header.css end*/

/*body.css start*/
.header .content{
    padding :20px 0;
}
.header .header-left{
    float: left;
}
.header .header-left a{
    display: block;
    background-color: #ff4600;
    height: 55px;
    width: 55px;


}
.header .header-left a:after{
    background-image: url("../image/4.png");
    content: "";
    width: 55px;
    height: 55px;
    display: block;
}
/*body.css end*/