*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
/*global start*/
@font-face {
    font-family: 'iconfont1';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*global end*/
.content{
    width: 1226px;
    margin: 0 auto;/*水平居中*/
    overflow: hidden;
}
.clearfix:after{
    content: "";
    clear: both;
    display:block;

}
/* global end*/
/* topbar start*/

.topbar{
    width: 100%;
    background-color: #333;
    height: 40px;
    line-height: 40px;
    color: #424242;
    font-size: 12px;
}
.topbar .topbar-left{
    float: left;

}
.topbar .topbar-left span{
    margin: 0.4em;
}
.topbar .topbar-right span{
    margin: 0.4em;
}
.topbar a{
    color: #b0b0b0;
    text-decoration: none;

}
.topbar a:hover{
    color: #ff4600;
}
.topbar .topbar-right{
    float: right;
}
.topbar .mini-car{
    background-color: #424242;
    display: block;
    height: 40px;
    width: 120px;
    float: right;
    text-align: center;
    margin-left: 30px;
}

/* topbar end*/
/*header start*/
.header .content{
    padding: 20px 0;
}
.header .header-left{
    float: left;
}
.header .header-left a{
    display: block;
    height: 55px;
    width: 55px;
    background-color: #ff4600;
}
.header .header-left a:after{
    background: url("../image/4.png") center;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
}
.header .header-center{
    float: left;
    margin-left: 150px;
}
.header .header-center ul{
    list-style-type: none;
}
.header .header-center li{
    float: left;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;

}
.header .header-center a{
    color: #333;
    font-size: 16px;
    text-decoration: none;
}
.header .header-center a:hover{
    color: #ff4600;
}
.header .header-right{
    float: right;
    position: relative;
}
.header .header-right input{
    height: 43px;
    width: 214px;
    padding: 0 17px;
    display: inline-block;
}
.header .header-right .search-btn{
    float: right;
    height: 45px;
    width: 55px;
    border: 1px solid #b0b0b0;
    margin-left: -1px;
}
.header .search-btn{
    text-decoration: none;
    font-size: 24px;
    color: #616161;
    text-align: center;
    line-height: 55px;
}
.header .search-btn i{
    font-size: 24px;
}
.header .header-right .input-text{
    position:absolute;
    top: 14px;
    right: 62px;
}
.header .input-text a{
    margin-left: 5px;
    padding:  0 5px;
    font-size: 13px;
    background: #eeeeee;
    color: #757575;
    text-decoration: none;

}
.header .input-text a:hover{
    color: #ffffff;
    background-color: #ff4600;
}
/*header end*/
/*home start*/
/*.home{*/
    /*float: left;*/
    /*padding: 0 62px;*/
/*}*/
/*.home .home-top a{*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/
/*.home-dir{*/
    /*position: absolute;*/
    /*top: 135px;*/
    /*left: 62px;*/
    /*width: 234px;*/
    /*height: 460px;*/
    /*font-size: 14px;*/
    /*margin-top: -19px;*/
/*}*/
/*.home-dir ul{*/
    /*display: block;*/
    /*list-style-type: none;*/
    /*padding: 20px 0;*/

/*}*/
/*.home-dir a{*/
    /*color: #b0b0b0;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*padding-left: 30px;*/
    /*height: 46px;*/
    /*line-height: 46px;*/
    /*background:rgba(0,0,0,0.7);*/
/*}.iconfont {*/
     /*float: right;*/
     /*margin-right: 15px;*/
     /*font-size: 20px;*/
 /*}*/
/*.home-dir a:hover{*/
    /*background-color:#ff6700;*/
/*}*/
/*.ui-left .iconfont{*/
    /*display: block;*/
    /*position: relative;*/
    /*float: left;*/
    /*margin-top: -244px;*/
    /*margin-left: 263px;*/
    /*color: #b0b0b0;*/
    /*font-size: 45px;*/
/*}*/
/*.ui-left . a:hover{*/
    /*color: #ff6700;*/
/*}*/
/*.ui-right .iconfont{*/
    /*display: block;*/
    /*position: relative;*/
    /*float: right;*/
    /*margin-top: -244px;*/
/*}*/
/*.ui-right .iconfont a{*/
    /*display: block;*/
    /*font-size: 50px;*/
    /*color: #b0b0b0;*/
/*}*/
/*.ui-right .iconfont a:hover{*/
    /*color: #ff6700;*/
/*}*/
/*.home-bottom{*/
    /*margin-top: 14px;*/
    /*width: 100%;*/

/*}*/
/*.home-bottom .pic-1 a{*/
    /*float: left;*/

/*}*/
/*.home-bottom .pic-2 a{*/
    /*display:block;*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*float: left;*/
    /*border: 0;*/
    /*margin-left: -14px;*/
/*}*/
/*.home-bottom .pic-3 a{*/
    /*display: block;*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*float: left;*/
    /*margin-left: -14px;*/
/*}*/
/*.home-bottom .pic-4 a{*/
    /*display: block;*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*float: left;*/
    /*margin-left: -14px;*/
/*}*/
.slider-bar .slider-site{
         position: relative;
         height: 460px;

}
.slider-bar .slider-centetn{
    width: 1226px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;

}
.slider-bar .slider-left{
    position: absolute;
    padding: 20px 0;
    /*box-sizing: border-box;*/
    top: 0;
    margin: 0;
    z-index: 10;
    width: 234px;
    height: 420px;
    background-color: rgba(0,0,0,0.6);
}
.slider-bar .slider-left ul{
    padding-left: 0;
}
.slider-bar .slider-left a{
    height: 42px;
    display: block;
    line-height: 42px;
    padding-left: 30px;
    font-size: 14px;
    color: #ffffff;
    padding-right: 20px;
}
.slider-bar .slider-left a:hover{
    background-color: #ff6700;
}
.slider-bar .slider-left i {
    font-size: 18px;
    float: right;
}
.slider-bar .slider-icon .si-top{
    position: absolute;
    top: 50%;
    left: 234px;
    height: 70px;
    margin-top: -35px;
    width: 992px;
}
.slider-bar .si-top a{
    display: block;
    width: 41px;
    height: 69px;
    float: left;
    background-image: url("../image/icon-slides.png");
    background-position: -85px 0;
}
.slider-bar .si-top a:last-child{
    float: right;
    background-position: -125px 0;
}
.slider-bar .si-top .sit-left:hover{
    background-position: 0 0;
}
.slider-bar .si-top .sit-right:hover{
    background-position: -42px 0;
}
.slider-bar .si-bottom{
    position: absolute;
    bottom: 35px;
    right: 65px;
}
.slider-bar .si-bottom li{
    float: left;
}
.slider-bar .si-bottom a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0 5px;
    border-color: rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.4);
}
.slider-bar .si-bottom a:hover{
    background-color: rgba(255,255,255,0.6);
    background-color: #bbbbbb;
}
.slider-bottom .content{
    margin-top: 14px;

}

.slider-bottom .bottom-1{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
}
.slider-bottom ul li {
    position: relative;
    text-align: center;
    float: left;
    width: 72px;
    padding: 0 3px;
    margin-top: 10px;
    padding-top:30px;

}

.slider-bottom ul li:after{
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 65px;
    height: 1px;
    background-color: #665e57;
}
.slider-bottom ul li:before{
    position: absolute;
    top:10px;
    right: 0;
    height: 65px;
    width: 1px;
    background-color: #665e57;
    content: "";
}
.slider-bottom li.top:after{
    display: none;
}

.slider-bottom ul a{
    font-size: 12px;
    color: rgba(255,255,255,0.7);
}
.slider-bottom ul i{
    display: block;
}
.slider-bottom .bottom-img{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 14px;
}
.slider-bottom .bottom-img img{
    width: 316px;
    height: 170px;
}
/* home end*/
/*title start*/
.plain-box{
    margin-top: 30px;

}
.plain-box .content{
    position: relative;
}
.plain-box .more{
    position: absolute;
    right: 0;
    top: 5px;

}
.plain-box .more a{
    float: left;
    width: 36px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #dddddd;
}
.plain-box .more a:last-child{
    margin-left: -1px;
}
.plain-box .more a:hover{
    color: #ff6700;
}
.plain-box .pb-slider{
    margin-top: 30px;
    width: 2000px;
}
.plain-box .pb-slider li{
    text-align: center;
    padding-top: 40px;
    float: left;
    height: 299px;
    width: 234px;
    margin-right: 14px;
    background-color: #dddddd;
    border: 1px solid #ffac;
}
.plain-box li img{
    width: 160px;
    height: 160px;
}
.pb-slider li h3{
    color: #424242;
    font-size: 14px;
}
.pb-slider li p{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 20px 12px;
}
.pb-slider li .money{
    color: #ff4600;
    font-size: 14px;
}
/* title end*/
/**/
.home-brick-box{
    margin-top: 50px;
    background-color: #f5f5f5;
}
.home-brick-box .content{
    position: relative;
}
.home-brick-box .hbb-right{
    position: absolute;
    right:0;
    top: 0;
}
.home-brick-box .hbb-right li{
    float: left;
    margin-left: 20px;
    font-size: 14px;
}
.home-brick-box .hbb-right .li-active{
    color: #ff6700;
    border-bottom: 2px solid #ff4600;
}
.home-brick-box .box-bd .span4{
    width: 234px;
    height: 628px;
    float: left;
}
.home-brick-box .box-bd{
    margin-top: 20px;
}
.home-brick-box .box-bd .span16{
    width: 992px;
    height: 628px;
    float: left;
}
.box-bd li img {
    width: 150px;
    height: 150px;
}
.box-bd li h3{
    color: #424242;
    font-size: 14px;
}
.box-bd li p{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 0 5px 0;

}
.box-bd li .money1{
    color: #ff6700;
}
.box-bd li .money2{
    text-decoration: line-through;
}
.home-brick-box .span16 li{
    width: 234px;
    height: 300px;
    float: left;
    background-color: #ffffff;
    margin: 0 0 14px 14px;
    text-align: center;
}
.box-bd .brick-item img{
    width: 80px;
    height: 80px;
}
.home-brick-box .brick-item{
    width: 234px;
    height: 143px;
    margin-bottom: 14px;
}
.home-brick-box .brick-item .item-left{
    font-size: 18px;
    margin: 0 110px 0 30px;
}
.home-brick-box .item-left a{
    color: #333333;
}
.home-brick-box .brick-item .item-right{
    font-size: 12px;
    margin:0 120px 0 30px;
}
.home-brick-box .item-right a{
    color: #757575;
}
.item-right .brick-item .icon{
    font-size: 20px;
    margin-right: 5px;
}
/**/