*{
    margin: 0;
    padding: 0;
}
/*header start*/
.header{
    margin: 0 auto;
    width: 1130px;
    line-height: 0;
}
.header a{
    display: block;
}
/* head end*/
/*container start*/
.container{
    background-image: url("../image/3.jpg");
    height: 588px;
    background-position: center;
}
.login-bar {
    width: 1130px;
    margin: 0;
}
.container .login-form{
    display: block;
    width: 400px;
    height: 524px;
    float: right;
    margin-right:-110px;
    margin-top: 32px;
    background-color: #ffffff;
}
.container .login-text{
    display: block;
    padding: 27px 0 23px;
    text-align: center;
    margin: 0 25px;

}
.container .login-text a{
    text-decoration: none;
    color: #666;
    margin: 0 25px;
    font-size: 20px;
}
.container .login-text a:first-child{
    color: #ff6700;
}
.container .login-text a:hover{
    color: #ff6700;
}
.container .login-content{
    width: 348px;
    margin: 0 auto;

}
.container .login-input{
    margin: 0 auto;
    width: 348px;

}
.container .login-input input{
    width: 300px;
    height: 22px;
    padding:10px 26px 13px 14px;
    font-family: arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 100%;
    margin-bottom: 14px;
}
.container .login-btn input{
    background-color: #ff6700;
    color: #eeeeee;
    width: 100%;
    height: 48px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.container .small-text{
    color: #757575;
    font-size: 14px;
}
.container .st-left{
    float: left;
}
.container .st-left a{
    color: #ff6700;
    text-decoration: none;
}
.container .st-right{
    float: right;
}
.container .st-right a{
    text-decoration: none;
    color: #757575;
}
.container .st-right a:hover{
    color: #ff6700;
}
.container .login-type{
    margin-top: 150px;
}
.container .login-type fieldset{
    color: #bbbbbb;
    border: none;
    font-size: 16px;
    border-top: 1px solid #bbbbbb;
    padding-top: 10px;
}
.container .login-icon{
    text-align: center;
}
.container .login-icon a{
    width: 30px;
    height: 30px;
    background-color: #757575;
    display: inline-block;
    border-radius: 50%;
    margin: 0 17px;


}
.container .login-icon i{
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../image/2.png");
    margin: 4px auto 0;

}
.container .qq:hover{
    background-color: #0288d1;
}
.container .qq i{
    background-position: -19px 0;
}
.container .sina:hover{
    background-color: #d32f2f;
}
.container .sina i{
    background-position: -38px 0;
}
.container .alipay:hover{
    background-color: deepskyblue;
}
.container .alipay i{
    background-position: -57px 0;
    width: 25px;
}
.container .wechat:hover{
    background-color: limegreen;
}
.container .wechat i{
    background-position: -84px 0;
    width: 23px;

}

/*container end*/
