$first:#fff;
.div1 {
  color: $first;
  .div4 {
    margin: 0;
    padding: 0;
    color: #00fefe;
    width: 42px;
  }
  &:hover{
    color: $first;
  }
  &-aa{
    background: #00fefe;
  }
}
.div3{
  background: {
    img :url("t014c9531add690543b.jpg");
    color: red;
  };
}

/* duo hang zhu shi*/
//dan hang zhu shi
/*! qiang zhi zhu shi*/
@mixin aa($h:500px,$w:600px){
  width: $w;
  height: $h;
}
.div5{
  @include aa($h:800px,$w:800px);
}
.div6{
  @extend .div5;
  font-size: 19px;
}
@import "imp";
$img
.div7{
background-image: url("img/" + $img);

}
$color:rgb(55,0,0);
$color1:rgba(55,0,0,0.8);
.div8{
  lighten($color,30%);

}
$title:width;
.div9{
  #{$title}:100px;
}
$sel: '.div10';
#{$sel}{
  width: 100px;
}
@for $i from 1 to 5{
  .div-for#{$i}{
  width: $i+px;
            }
}
@function foo($key){
  @return  (type-of($key)==string);
  @return  $key+px;
}
.div10{
  width: foo(10);
}