<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css">
<style>
    .red{
        background: red;
    }
    .form-add{
        margin: 0 auto 20px;
    }

</style>

</head>
<body>
<div id="app" class="text-center">
    <h1 >todulist</h1>
    <hr>
    <form class="form-inline">
        <div class="form-group">
            <input @keyup.enter="search" v-model="keywords" type="text" class="form-control" placeholder="请输入关键字">
        </div>
        <button @click="search" type="submit" class="btn  btn btn-primary">搜索</button>
    </form>


    <form class="form-inline form-add" @submit.prevent>
        <div class="form-group">
            <label for="exampleInputName2">商品名称</label>
            <input v-model="productName" type="text" class="form-control" id="product-name" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">商品价格</label>
            <input v-model.number="productPrice" type="texto" class="form-control" id="product-proce" placeholder="请输入价格">
        </div>
        <button @click="addProduct" type="submit" class="btn  btn btn-primary">增加</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>选择</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>删除</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(product,index) in productList" @click="select(product)" :class="{red:product.isSelected}">
            <td><input type="checkbox" @click.stop v-model="checkList" :value="index"></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button @click.stop="delProduct(index)" type="button" class="btn btn-warning glyphicon glyphicon-remove btn-xs"></button>
            </td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-danger btn-xs" @click="delChecked">删除选中</button></td>
            <td colspan="3">总价：{{csum}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../jQuery/jquery-3.3.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            productList:[{
                name:"衣服",
                price:450,
                isSelected:false
            }, {
                name:"裤子",
                price:200,
                isSelected:false
            },{
                name:"帽子",
                price:50,
                isSelected:false
            },{
                name:"鞋子",
                price:600,
                isSelected:false
            },{
                name:"手机",
                price:5000,
                isSelected:false
            }],
            sum:0,
            checkList:[],
            productName:'',
            productPrice:'',
            keywords:''
        },
        methods: {
            select(product) {
                product.isSelected = !product.isSelected;
                // if (product.isSelected) {
                //     this.sum += product.price
                // } else {
                //     this.sum -= product.price
                // }

                // this.getSum()
            },
            getSum() {
                // this.sum=0;
                // this.productList.forEach((item, index) => {
                //     if (item.isSelected) {
                //         this.sum+=item.price;
                //     }
                // });
                let temp=0;
                this.productList.forEach((item,index)=>{
                    if(item.isSelected){
                        temp += item.price;
                    }
                });
                return temp;
            },
            delProduct(index){
                this.productList.splice(index,1)
            },
            delChecked(){
                this.productList=this.productList.filter((item,index)=>{
                   if(!this.checkList.includes(index)){
                       return item
                   }
                });
                this.checkList=[];
            },
            addProduct(){
                this.productList.push({
                    name:this.productName,
                    price:this.productPrice,
                    isSelected:false
                });
                this.productName=this.productPrice='';
            },
            search(){

                this.productList=this.productList.filter((item)=>{
                    if(item.name.includes(this.keywords) || item.price.toString().includes(this.keywords)){
                        return item;
                    }
                });

            }
         },
        computed:{
            csum(){
                let temp=0;
                this.productList.forEach((item,index)=>{
                    if(item.isSelected){
                        temp += item.price;
                    }
                });
                return temp;
            }
        }
    });
</script>
</body>
</html>