<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">

    <form>
        用户名： <input type="text"  v-model="username">
        <h4>用户名是：{{username}}</h4>



        用户名lazy： <input type="text"  v-model.lazy="username">
        <h4>用户名是：{{username}}</h4>

        用户名trim： <input type="text"  v-model.trim="username">
        <h4>用户名是：{{username}}</h4>

        年龄：<input type="text" v-model.number="age">
        <!--<input type="number">-->
        <h4>年龄是{{age}}</h4>



        性别：
        <input type="radio" v-model="sex" value="男1">男
        <input type="radio" v-model="sex" value="女1">女
        <h4>性别是：{{sex}}</h4>

        <input type="checkbox" v-model="hobby" value="足球">足球
        <input type="checkbox" v-model="hobby" value="篮球">篮球
        <input type="checkbox" v-model="hobby" value="排球">排球
        <h4>爱好是：{{hobby}}</h4>


        学校:
        <select v-model="school">
            <option value="农大">农大</option>
            <option value="黑大">黑大</option>
            <option value="林大">林大</option>
            <option value="金融">金融</option>

        </select>
        <h4>学校是{{school}}</h4>

        自我介绍：
        <textarea v-model="description"></textarea>
        <h4>自我介绍是：{{description}}</h4>

    </form>
</div>
    <script src="vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            username:"",
            sex:'',
            hobby:[],
            school:'',
            description:'',
            age:''

        }
    })

</script>
</body>
</html>