<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-for="val in obj">name:{{val.name}}age{{val.age}}school{{val.school}}</div>
         <div v-for="var in arr2">{{val}}</div>
    </div>
    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            computed : {
                // arr2(){
                //    return this.arr.sort(function(a,b){
                //        return b-a;
                //    })
                // }
                
            },
            data:{
                arr2:[4,5,6,8,9,1,2],
                obj:[{
                    name:"xiaoming",
                    age:18,
                    school:"heida"
                },{
                    name:"xiaohong",
                    age:19,
                    school:"heida"
                },{
                    name:"xiaogang",
                    age:20,
                    school:"heida"
                }]
            }
        });
    
    </script>
</body>
</html>