<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(schools,index) in school">{{schools}}--{{index+1}}</li>
    </ul>
    <ul>
        <li v-for="(item,key,index) in obj">
            <h3>{{item}}</h3>--{{key}}--{{index}}</li>
    </ul>
    <ul>
        <li v-for="obj in arrSort">
            <!--{{obj.name}}&#45;&#45;{{obj.age}}&#45;&#45;{{obj.company}}-->
            <div v-for="(val,key) in obj">{{val}}--{{key}}</div>
        </li>
    </ul>
</div>
  <script src="vue.js"></script>
  <script>
      let vm=new Vue({
          el:"#app",
          data:{
              school:['金融','农大','黑大','林大'],
              obj:{
                  name:'zs',
                  age:18,
                  company:'baidu'
              },
              arr:[{
                  name:'zs',
                  age:18,
                  company:'baidu'
              },{
                  name:'lisi',
                  age:28,
                  company:'ali'
              },{
                  name:'ww',
                  age:20,
                  company:'tencent'
              }]
          },
          computed:{    //计算属性
              arrSort:function(){//不能与data重名
                 return this.arr.sort(function (a,b) {
                     return a.age-b.age;
                 })
              }

          }
      })

  </script>
</body>
</html>